@page "/game/gameresults/{MatchId:guid}"



<div class="details-container">
    <div class="d-flex justify-content-around my-2 flex-column">
        <h2 class="mx-4 text-center">Wyniki</h2>
        <RadzenGrid @ref="grid" Count="@count" Data="@scores" LoadData="@LoadData" AllowSorting="true" AllowFiltering="true" AllowPaging="true" TItem="Quiz.Shared.ViewModels.UserMatchView" PageSize="50" ColumnWidth="300px" AllowColumnResize="true" Style="margin-left: 10px; margin-right:10px;">
            <Columns>
                    <RadzenGridColumn TItem="Quiz.Shared.ViewModels.UserMatchView" Title="Miejsce" Width="100px">
                        <Template Context="userMatchView">
                            <RadzenLabel Text="@((Scores.IndexOf(userMatchView) + 1).ToString())" Placeholder="Miejsce" />
                        </Template>
                 </RadzenGridColumn>
                <RadzenGridColumn TItem="Quiz.Shared.ViewModels.UserMatchView" Property="Username" Title="Użytkownik" />
                <RadzenGridColumn TItem="Quiz.Shared.ViewModels.UserMatchView" Property="Points" Title="Punkty" />

            </Columns>
        </RadzenGrid>
        
    </div>
</div>





@code{

}