@page "/game"



<div>
    <RadzenTooltip />
</div>

<div>
    <RadzenDialog />
</div>



<div class="game-container">
    <RadzenButton Icon="add_circle_outline" Style="margin: 1rem;" Text="Stwórz nowy stół" Click="@Add" />
     <div class="tables-container">
         @for(int i=0; i < 10; i++)
         {
         <div class="tableItem">
             <SingleTable></SingleTable>
         </div>
         }

     </div>


</div>

@code{





}