@page "/game/livegame/{MatchId:guid}"



<div class="details-container">
    <div class="game">
        <div class="questions">
            <div class="question">
                <h3>Kto Cię dzisiaj posunie?</h3>
            </div>
            <div class="answers">
                <div class="answer">
                    <h4>AAAAA</h4>
                </div>
                <div class="answer">
                    <h4>BBBB</h4>
                </div>
                <div class="answer">
                    <h4>CCCC</h4>
                </div>
                <div class="answer">
                    <h4>DDDD</h4>
                </div>
            </div>
        </div>
        <div class="score">
            <div class="result-header">
                <h3>Wyniki</h3>
            </div>
            <div class="results">

            </div>

        </div>

    </div>
</div>




@code {

}
