@page "/game/livegame/{MatchId:guid}"



<div class="details-container">
    <div class="game">
        <div class="questions">
                <div class="question">
                    <h3>@tempQuestion.Content</h3>
                </div>
                <div class="answers">
                    @foreach (var answer in tempQuestion.Answers)
                    {
                        <div class="answer">
                            <h4>@answer.Content</h4>
                        </div>
                    }
                </div>
        </div>
        <div class="score">
            <div class="result-header">
                <h3>Wyniki</h3>
            </div>
            <div class="results">

            </div>

        </div>

    </div>
</div>




@code {

}
