@page "/"

@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="container text-center height-center">
    <img src="Content/Images/Logo.png" class="responsive-img" />
    <header>
        <a class="btn btn-primary" href="/Authentication">Dołącz już teraz</a>
    </header>


</div>

@code{



}

