@page "/Authentication"
@using Radzen;
@using Radzen.Blazor;


<div class="authentication-container">
    <div class="my-4">
        <RadzenTabs>
            <Tabs>
                <RadzenTabsItem Text="Rejestracja" Style="width: 50%;">
                    <Registration />
                </RadzenTabsItem>
                <RadzenTabsItem Text="Logowanie" Style="width: 50%;">
                    <Login />
                </RadzenTabsItem>
            </Tabs>
        </RadzenTabs>





    </div>

</div>



@code{





}