@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims

@inject NavigationManager Navigation
@*@inject SignOutSessionStateManager SignOutManager*@



<AuthorizeView>
    <Authorized>
        <a href="account">@context.User.FindFirst(ClaimTypes.Name).Value @Money <span class="oi oi-dollar" aria-hidden="true"></span></a>
        <a href="logout">Wyloguj się</a>
    </Authorized>
    <NotAuthorized>
        <a href="registration">Rejestracja</a>
        <a href="login">Logowanie</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    //private async Task BeginSignOut(MouseEventArgs args)
    //{
    //    await SignOutManager.SetSignOutState();
    //    Navigation.NavigateTo("authentication/logout");
    //}


}
